version: "3.7"

services:
  app:
    build: .
    command: sleep infinity
    volumes:
      - ..:/workspace:cached
      - node-module:/workspace/node_modules
      - ~/.ssh:/home/vscode/.ssh-localhost:ro
  job-storage:
    image: redis:alpine
  job-storage-gui:
    image: redislabs/redisinsight
    volumes:
      - redisinsight:/db
  file:
    image: quay.io/minio/minio
    command: server /data --console-address ":9001"
    ports:
      - 9001:9001
    volumes:
      - file:/data
volumes:
  redisinsight:
  node-module:
  file: