name: Nukeeper

on:
  schedule:
    - cron: '0 0 * * 6'
  workflow_dispatch:
jobs:
  dotnet:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-dotnet@v1.4.0
    - run: |
        dotnet new tool-manifest
        dotnet tool install nukeeper
        dotnet nukeeper repo https://github.com/${{ github.repository }} ${{ secrets.GitHubToken }}
