name: Server

on:
  push:
env:
  IMAGE_NAME: server
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1.0.2
      - run: git fetch --prune --unshallow
      - uses: gittools/actions/gitversion/setup@v0.9.1
        with:
            versionSpec: '5.1.x'
      - id: gitversion
        uses: gittools/actions/gitversion/execute@v0.9.1
      - uses: docker/build-push-action@v2.1.0
        with:
          file: .docker/Dockerfile
          build-args: |
            Version=${{ steps.gitversion.outputs.fullSemVer }}
            AssemblyVersion=${{ steps.gitversion.outputs.assemblySemVer }}
            FileVersion=${{ steps.gitversion.outputs.assemblySemFileVer }}
            InformationalVersion=${{ steps.gitversion.outputs.informationalVersion }}
            Sha=${{ steps.gitversion.outputs.Sha }}
            BuildDate=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
            SENTRY_AUTH_TOKEN=${{ (github.ref == 'refs/heads/master' && secrets.SENTRY_AUTH_TOKEN) || '' }}
          tags: image
      - name: Log into registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin
      - name: Push image
        run: |
          IMAGE_ID=docker.pkg.github.com/${{ github.repository }}/$IMAGE_NAME
          IMAGE_ID=${IMAGE_ID,,}
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          [ "$VERSION" == "master" ] && VERSION=latest

          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION

          docker tag image $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION
      - uses: dmandrade/sentry-release-github-action@v1
        if: github.ref == 'refs/heads/master'
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: studiofreesia
          SENTRY_PROJECT: vivideo
        with:
          environment: production
          version: ${{ steps.gitversion.outputs.informationalVersion }}
